<app-navbar></app-navbar>

<div class="container min-vh-100 py-5 position-relative">
  <div *ngIf="showPopup" class="custom-popup-backdrop">
    <div class="custom-popup text-center">
      ✅ Note updated successfully!
      <br />
      <button class="btn btn-m btn-success mt-3" (click)="closePopup()">OK</button>
    </div>
  </div>

  <div class="card shadow-sm p-4 note-form">
    <h2 class="text-center mb-4">Update Note</h2>
    <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
      {{ errorMessage }}
    </div>
    <form [formGroup]="noteForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="title" class="form-label">Title <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content <span class="text-danger">*</span></label>
        <textarea class="form-control" id="content" rows="4" formControlName="content"></textarea>
      </div>
      <div class="mb-3">
        <label class="form-label" for="category">Category <span class="text-danger">*</span></label>
        <select id="category" formControlName="category" class="form-select">
          <option value="" disabled selected>Select Category</option>
          <option value="Work">Work</option>
          <option value="Personal">Personal</option>
          <option value="Study">Study</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="priority" class="form-label">Priority <span class="text-danger">*</span></label>
        <select class="form-control" id="priority" formControlName="priority">
          <option value="">Select Priority</option>
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="tags" class="form-label">Tags <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="tags" formControlName="tags" placeholder="Comma-separated tags">
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary" [disabled]="noteForm.invalid">Update Note</button>
        <a routerLink="/notes" class="btn btn-outline-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
